<header>
  <div class="header-top">
    <a class="header-logo-mobile" href="/"></a>
  </div>

  <div class="header-bottom">
    <nav>

      <a class="header-logo-desktop" href="/"></a>
      <a id="link1" href="/favorites">Favorites</a>
      <a id="link2" href="/filter">Filter</a>
      <a id="link3" href="/inbox">Inbox
        <output name="counter" class="counter" for="tweet-text">00</output></a>
      <a id="link4" href="/logout">Logout</a>

    </nav>
  </div>

</header>