<header>
  <div class="header-top">
    <a class="header-logo-mobile" href="/"></a>
  </div>

  <div class="header-bottom">
    <nav>

      <a class="header-logo-desktop" href="/"></a>
      <a id="link1" >Favorites</a>
      <button id="link2" class="link-button">Filter</button>
      <a id="link3" href="/inbox">Inbox
        <output name="counter" class="counter" for="tweet-text">00</output></a>
      <a id="link4" href="/products">put up item</a>

    </nav>
    <section id="filter"> <%- include("./_filter") %></section>
  </div>

</header>
