<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Neighbor Goods</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="/styles/header.css" type="text/css">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">

     <!-- External JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

       <!-- App JS -->
   <script type="text/javascript" src="../scripts/filter-script.js"></script>
   <script type="text/javascript" src="../scripts/api-routes.js"></script>
   <script type="text/javascript" src="../scripts/app.js"></script>



</head>

<body>

  <%- include('partials/_header.ejs') %>

  <div class="wrapper">
    <main id="my-container">
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>
      <div class="listings">
        <div class="name"> Herry Potter Book</div>
        <span class="price">$65</span>
      </div>




    </main>
  </div>

</body>
</html>
