footer{
  width: calc(100% - 80px);
  height: 150px;
  padding: 40px 40px;
  margin-top: 20px;
  background-color: #0e2433;
  overflow: hidden;

  p{
    color: orangered;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
  }
  

}